body {
  padding-bottom: 20px;
}

.font-logo {
	font-size: 30px;
}

.font-xxl {
	font-size: 60px;
	text-shadow: 2px 2px #ff0000;
}

.font-pacifico{
	font-family: 'Pacifico', cursive;
}

.banner-jumbotron {
	color: white;
	background-image: url('../img/banner.jpg');
	height: 400px;
}

.text-container {
	padding-top: 90px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 

.search-bar {
	margin-top: 70px;
	padding-top:10px;
	color: white;
	background: rgba(0,0,0, .7);
	height: 60px;
}

.m-t-35{
	margin-top: 35px;
}

.list-group-item {
	height: 95px;
}

.list-group-img {
	float: left;
	display: block;
	width: 50px;
}	

.list-group-data {
	float: left;
	display: block;
	margin-left: 60px;
}